@import '../../styles/variables.scss';

.my-dictionary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font;
    color: $border;
    font-size: 1.2em;
    min-height: 70vh;
    .my-dictionary-block {
        
    }
}