@import "../../styles/variables.scss";

.search-container {
  font-family: $font;
  .input-block {
    .input-text {
      @include input-text;
      width: 100%;
      font-size: 1.2em;
    }
    .input-empty {
      @include input-empty;
      width: 100%;
      font-size: 1.2em;
    }
    .input-empty::placeholder {
      color:$background-btn
    }
  }
  .button-block {
    margin-top: 2%;
    .btn {
      @include btn;
      @include hover-btn;
      width: 100%;
      font-size: 1.2em;
    }
    .btn-disabled {
      @include btn-disabled;
      width: 100%;
      font-size: 1.2em;
    }
  }
}
